dwes/tema06/unidad06/serverSoap/service.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost/unidad6/serverSoap/server.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Clases.Operaciones" targetNamespace="http://localhost/unidad6/serverSoap/server.php">
  <types>
    <xsd:schema targetNamespace="http://localhost/unidad6/serverSoap/server.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="Clases.OperacionesPort">
    <operation name="resta">
      <input message="tns:restaIn"/>
      <output message="tns:restaOut"/>
    </operation>
    <operation name="suma">
      <input message="tns:sumaIn"/>
      <output message="tns:sumaOut"/>
    </operation>
    <operation name="saludo">
      <input message="tns:saludoIn"/>
      <output message="tns:saludoOut"/>
    </operation>
  </portType>
  <binding name="Clases.OperacionesBinding" type="tns:Clases.OperacionesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="resta">
      <soap:operation soapAction="http://localhost/unidad6/serverSoap/server.php#resta"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </output>
    </operation>
    <operation name="suma">
      <soap:operation soapAction="http://localhost/unidad6/serverSoap/server.php#suma"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </output>
    </operation>
    <operation name="saludo">
      <soap:operation soapAction="http://localhost/unidad6/serverSoap/server.php#saludo"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </output>
    </operation>
  </binding>
  <message name="restaIn">
    <part name="a" type="xsd:float"/>
    <part name="b" type="xsd:float"/>
  </message>
  <message name="restaOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="sumaIn">
    <part name="a" type="xsd:float"/>
    <part name="b" type="xsd:float"/>
  </message>
  <message name="sumaOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="saludoIn">
    <part name="texto" type="xsd:string"/>
  </message>
  <message name="saludoOut">
    <part name="return" type="xsd:string"/>
  </message>
  <service name="Clases.OperacionesService">
    <port name="Clases.OperacionesPort" binding="tns:Clases.OperacionesBinding">
      <soap:address location="http://localhost/unidad6/serverSoap/server.php"/>
    </port>
  </service>
</definitions>
