dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicio.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Clases.Operaciones" targetNamespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php">
  <types>
    <xsd:schema targetNamespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="Clases.OperacionesPort">
    <operation name="getPVP">
      <documentation>Esta funci&#xF3;n recibir&#xE1; como par&#xE1;metro el c&#xF3;digo de un producto, y devolver&#xE1; el PVP correspondiente al mismo.</documentation>
      <input message="tns:getPVPIn"/>
      <output message="tns:getPVPOut"/>
    </operation>
    <operation name="getStock">
      <documentation>Esta funci&#xF3;n recibir&#xE1; dos par&#xE1;metros: el c&#xF3;digo de un producto y el c&#xF3;digo de una tienda. Devolver&#xE1; el stock existente en dicha tienda del producto.</documentation>
      <input message="tns:getStockIn"/>
      <output message="tns:getStockOut"/>
    </operation>
    <operation name="getFamilias">
      <documentation>Devuelve un array con los c&#xF3;digos de todas las familias existentes.</documentation>
      <input message="tns:getFamiliasIn"/>
      <output message="tns:getFamiliasOut"/>
    </operation>
    <operation name="getProductoFamilia">
      <documentation>Devuelve un array con los c&#xF3;digos de todos los productos de esa familia.</documentation>
      <input message="tns:getProductoFamiliaIn"/>
      <output message="tns:getProductoFamiliaOut"/>
    </operation>
  </portType>
  <binding name="Clases.OperacionesBinding" type="tns:Clases.OperacionesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPVP">
      <soap:operation soapAction="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php#getPVP"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getStock">
      <soap:operation soapAction="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php#getStock"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getFamilias">
      <soap:operation soapAction="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php#getFamilias"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getProductoFamilia">
      <soap:operation soapAction="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php#getProductoFamilia"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
      </output>
    </operation>
  </binding>
  <message name="getPVPIn">
    <part name="idProducto" type="xsd:int"/>
  </message>
  <message name="getPVPOut">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getStockIn">
    <part name="idProducto" type="xsd:int"/>
    <part name="idTienda" type="xsd:int"/>
  </message>
  <message name="getStockOut">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getFamiliasIn"/>
  <message name="getFamiliasOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <message name="getProductoFamiliaIn">
    <part name="codFamilia" type="xsd:string"/>
  </message>
  <message name="getProductoFamiliaOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <service name="Clases.OperacionesService">
    <port name="Clases.OperacionesPort" binding="tns:Clases.OperacionesBinding">
      <soap:address location="http://127.0.0.1/daw/dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6/servidorSoap/servicioW.php"/>
    </port>
  </service>
</definitions>
