dwes/rodriguez_jimenez_roberto_DWES06_Tarea/tarea6_OFF/servidorSoap/service.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost/unidad6/serverSoap/server.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Clases.Operaciones" targetNamespace="http://localhost/unidad6/serverSoap/server.php">
  <types>
    <xsd:schema targetNamespace="http://localhost/unidad6/serverSoap/server.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="Clases.OperacionesPort">
    <operation name="getPVP">
      <documentation>Devuelve el PVP correspondiente al mismo.

Recibe como par&#xE1;metro el c&#xF3;digo de un producto</documentation>
      <input message="tns:getPVPIn"/>
      <output message="tns:getPVPOut"/>
    </operation>
    <operation name="getStock">
      <documentation>Devuelve el stock existente en dicha tienda del producto.

Recibe dos par&#xE1;metros: el c&#xF3;digo de un producto y el c&#xF3;digo de una tienda.</documentation>
      <input message="tns:getStockIn"/>
      <output message="tns:getStockOut"/>
    </operation>
    <operation name="getFamilias">
      <documentation>Devuelve un array con los c&#xF3;digos de todas las familias existentes.

No recibe par&#xE1;metros.</documentation>
      <input message="tns:getFamiliasIn"/>
      <output message="tns:getFamiliasOut"/>
    </operation>
    <operation name="getProductosFamilia">
      <documentation>Devuelve un array con los c&#xF3;digos de todos los productos de esa familia.

Recibe como par&#xE1;metro el c&#xF3;digo de una familia.</documentation>
      <input message="tns:getProductosFamiliaIn"/>
      <output message="tns:getProductosFamiliaOut"/>
    </operation>
  </portType>
  <binding name="Clases.OperacionesBinding" type="tns:Clases.OperacionesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPVP">
      <soap:operation soapAction="http://localhost/unidad6/serverSoap/server.php#getPVP"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </output>
    </operation>
    <operation name="getStock">
      <soap:operation soapAction="http://localhost/unidad6/serverSoap/server.php#getStock"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </output>
    </operation>
    <operation name="getFamilias">
      <soap:operation soapAction="http://localhost/unidad6/serverSoap/server.php#getFamilias"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </output>
    </operation>
    <operation name="getProductosFamilia">
      <soap:operation soapAction="http://localhost/unidad6/serverSoap/server.php#getProductosFamilia"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/unidad6/serverSoap/server.php"/>
      </output>
    </operation>
  </binding>
  <message name="getPVPIn">
    <part name="codigoProducto" type="xsd:string"/>
  </message>
  <message name="getPVPOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="getStockIn">
    <part name="codigoProducto" type="xsd:string"/>
    <part name="codigoTienda" type="xsd:string"/>
  </message>
  <message name="getStockOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="getFamiliasIn"/>
  <message name="getFamiliasOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <message name="getProductosFamiliaIn">
    <part name="codigoFamilia" type="xsd:string"/>
  </message>
  <message name="getProductosFamiliaOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <service name="Clases.OperacionesService">
    <port name="Clases.OperacionesPort" binding="tns:Clases.OperacionesBinding">
      <soap:address location="http://localhost/unidad6/serverSoap/server.php"/>
    </port>
  </service>
</definitions>
